/* Google font work sans */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */
.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
}


* {
    font-family: "Work Sans", sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);


}

nav {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    color: rgb(19, 19, 19);
    padding-left: 30px;
}

nav>ul {
    display: flex;


}

nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 1em;
    font-weight: 500;
    color: rgb(66, 66, 66);
}

nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    ;
}



/* Banner Styles */

.banner-content {

    max-width: 800px;
    text-align: center;
    margin-left: 530px;
    margin-right: 530PX;


}

.Banner-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;


}

.Banner-paragraph {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}



/* team-section styles */

main {

    max-width: 1440px;
    margin: 0, auto;
}

.team-section {
    display: flex;
    align-items: center;
}

.team-image {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    size: 25px;
    gap: 24px;

}

.team-text-container {

    padding-left: 73px;
    padding-right: 367px;
}

.text-feature {

    font-size: 45px;
    font-weight: 700;
}
.quick-list{
  color: rgb(114, 114, 114);
  font-weight:500 ;
    
}
.Of-our-text{
    color: rgb(19, 19, 19);
}
.feature-txt{
    color: rgb(255, 144, 14);
}





/* responsive styles */

@media screen and (max-width: 576px) {

    .banner-content {
        max-width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 0 15px;

    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-title {
        text-align: center;
        font-size: larger;
    }

    .banner img {
        width: 100%;
        margin-top: 10px;
        align-items: center;

    }


}


/* tablet or mideum device responsisve  */
@media screen and (min-width:576px) (max-width: 960px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .banner-content {
        max-width: 100%;
        /* Use full width */
        text-align: center;
        margin-left: 15px;
        /* Add side margins for spacing */
        margin-right: 15px;
    }